<div class="container">
  <div class="col-md-12">

    <h1>Shopping cart</h1>

    <div ng-show="$ctrl.isCartEmpty()">
      <p>There are no items in the cart</p>
    </div>
    <button type="button" class="btn btn-default btn-block" ui-sref="market">
      <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
    </button>

    <div ng-hide="$ctrl.isCartEmpty()" class="col-md-12 sndfx-cart">
      <div class="row">
        <div class="well">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="list-group-item" ng-repeat="cartItem in $ctrl.localStorage.cart">
                  <div class="media col-md-2 text-left">
                    <figure class="">
                      <img class="media-object img-rounded img-responsive" src="http://placehold.it/100x70">
                    </figure>
                  </div>
                  <div class="col-md-5">
                    <h4 class="list-group-item-heading">
                      <strong>{{cartItem.sndfx.name}}</strong>
                    </h4>
                    <p>
                      by {{cartItem.sndfx.creator.nickname}}
                      <span ng-show="cartItem.sndfx.creator.nickname != cartItem.sndfx.owner.nickname"
                      >
                      | *customized by {{cartItem.sndfx.owner.nickname}}
                      </span>
                    </p>
                    <a href="#" ng-click="$ctrl.removeFromCart(cartItem)">remove</a>
                  </div>
                  <div class="col-md-2">
                    <p class="list-group-item-heading text-muted">
                      License options
                    </p>
                    <div ng-click="$ctrl.updateCart()" class="btn-group">
                      <label ng-repeat="publication in cartItem.sndfx.publications" class="btn btn-warning"
                             ng-model="cartItem.license" uib-btn-radio="publication.license">
                        {{publication.license}}
                      </label>
                    </div>
                  </div>
                  <div class="col-md-3 text-right text-price list-group-item-heading">
                    {{cartItem.price | currency: "€ "}}
                  </div>
                </div>
              </div>

              <div class="row cart-totals">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                  <table class="table table-responsive">
                    <tbody>
                    <tr>
                      <th class="text-right">Subtotal</th>
                      <td class="text-right">
                        {{$ctrl.subtotal | currency: "€ "}}
                      </td>
                    </tr>
                    <tr>
                      <th class="text-right">VAT {{$ctrl.VAT_VAL * 100}}&#37;</th>
                      <td class="text-right">{{$ctrl.vat | currency: "€ "}}</td>
                    </tr>
                    <tr>
                      <th class="text-right">TOTAL</th>
                      <td class="text-right">{{$ctrl.total | currency: "€ "}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row text-right">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" ui-sref="checkout">
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
